[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cv2 = "*"
pycurl = "*"
flask = "*"
beautifulsoup4 = "*"
requests = "*"
selenium = "*"

[requires]
python_version = "3.7"
